/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.triple-split {
  display: inline-block;
  width: 31%;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}


.menu {
  font-size: 55px;
  margin-left: 7%;
  top:12px;
  position: relative;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}



/* Start Here */
.announcement-body {
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
  
}
.m-indicator {
  float: right;
  margin-right: 20px;
}
.m-indicator-text {
  display: inline-block;
  font-size: 12px;
  margin-top: 1px;
  margin-left: 4.5px;
}


/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap*/ 
  .top-leaf {
    position: absolute;
  width: 150px;
  margin-left: -10px;
  margin-top: -10px;
  z-index: 1;
  }

  .bottom-leaf {
    width: 150px;
    position: absolute;
  }


  .countdown-value {
    position: absolute;
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: 'Raleway' !important;
  }
  
  .countdown-text {
    position: absolute;
    font-size: 12px;
    font-weight: 100;
    line-height: 1;
    margin:0;
    padding:0;
    font-family: 'Raleway' !important;
    margin-top: 70px;
    color: white;
  }

  .coming-soon {
    display: table;
     color: white;
     margin: 0 auto;
     font-size: 45px;
     font-family: 'Raleway' !important;
     font-weight: 600;
     margin-left: 100px;
   }

   .description {
    color:white;
    display:table;
    margin: 0 auto;
    font-weight: 300;
    font-size: 12px;
  }

  .logo { 
    width: 125px;
    position: absolute;
  }
  .home-social-media-item {
    width: 25px;
    display: inline-block;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (max-width: 575px) { 
    .countdown-text {
      margin-top: -20px;
    }
  }

  
  .carousel-item-list {
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
  
  }


  @media (min-width: 325px) {
    .countdown-text {
      position: absolute;
      font-size: 12px;
      font-weight: 100;
      line-height: 1;
      margin:0;
      padding:0;
      font-family: 'Raleway' !important;
      color: black;
    }

    .carousel-item-list {
      width: 80%;
      margin-left: 10%;
      margin-top: 15px;
    }
  }
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

  
  .carousel-item-list {
    width: 70%;
    margin-left: 15%;
    margin-top: 15px;
  
  }

  .top-leaf {
    position: absolute;
  width: 250px;
  margin-left: -10px;
  margin-top: -10px;
  }

  .bottom-leaf {
    width: 250px;
    position: absolute;
  }

  .m-indicator {
    margin-left: 40%;
  }

  
  .coming-soon {
    display: table;
     color: white;
     margin: 0 auto;
     font-size: 55px;
     font-family: 'Raleway' !important;
     font-weight: 600;
     margin-left: 100px;
   }

   
   .description {
    color:white;
    display:table;
    margin: 0 auto;
    font-weight: 300;
    font-size: 14px;
  }
  
  .countdown-value {
    position: absolute;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: 'Raleway' !important;
  }
  
  .countdown-text {
    position: absolute;
    font-size: 14px;
    font-weight: 100;
    line-height: 1;
    margin:0;
    padding:0;
    font-family: 'Raleway' !important;
    color: black;
  }

  .logo { 
    width: 165px;
    position: absolute;
  }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .top-leaf {
    width: 420px;
    margin-left: -15px;
    margin-top: -13px;
    
  }

  .m-indicator {
    float: right;
    margin-right: 20px;
  }



  
  .coming-soon {
    display: table;
     color: white;
     margin: 0 auto;
     font-size: 80px;
     font-family: 'Raleway' !important;
     font-weight: 600;
     margin-left: 100px;
   }
   
   .description {
    color:white;
    display:table;
    margin: 0 auto;
    font-weight: 300;
    font-size: 15px;
  }

  .bottom-leaf {
    width:  420px;
    position: absolute;
  }
  .countdown-value {
    position: absolute;
    font-size: 27px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: 'Raleway' !important;
  }
  
  .countdown-text {
    position: absolute;
    font-size: 16px;
    font-weight: 100;
    line-height: 1;
    margin:0;
    padding:0;
    font-family: 'Raleway' !important;
    color: black;
  }

  .logo { 
    width: 190px;
    position: absolute;
  }

  .home-social-media-item {
    width: 50px;
    display: inline-block;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .top-leaf {
    width: 460px;
    margin-left: -15px;
    margin-top: -13px;
    
  }

  .logo { 
    width: 225px;
    position: absolute;
  }
  
  .coming-soon {
    display: table;
     color: white;
     margin: 0 auto;
     font-size: 90px;
     font-family: 'Raleway' !important;
     font-weight: 600;
     margin-left: 100px;
   }

   
   .description {
    color:white;
    display:table;
    margin: 0 auto;
    font-weight: 300;
    font-size: 20px;
  }
  
  .bottom-leaf {
    width:  460px;
    position: absolute;
  }

  .countdown-value {
    position: absolute;
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: 'Raleway' !important;
  }
  
  .countdown-text {
    position: absolute;
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    margin:0;
    padding:0;
    font-family: 'Raleway' !important;
    color: black;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .countdown-value {
    position: absolute;
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: 'Raleway' !important;
  }
  
  .countdown-text {
    position: absolute;
    font-size: 25px;
    font-weight: 100;
    line-height: 1;
    margin:0;
    padding:0;
    font-family: 'Raleway' !important;
    color: black;
  }
}





.countdown-item { 
  display: inline-block;
  background: #D8B29F;
  border-radius: 8px;
  position: relative;

}



.countdown-group-hour {
  display:table;
}

.center-ball{
  display: table;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.home-social-media {
  position: absolute;
}

.home-social-media-item { 
  cursor: pointer;
}

.open-map {
	color: white;
	display: table;
	background: rgba(0,0,0,0.5);
  padding: 8px 12px;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-size: 12px;

  cursor:pointer;
}

.content {
  z-index: 100000;
  position: relative;
}

.content-2{
  margin-top: -65px;
  background:  #CC95C0;
  background: -webkit-linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0);
  background: linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0);

}

.display-4a {
  background:  #CC95C0;
  background: -webkit-linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0);
  background: linear-gradient(to bottom, #7AA1D2, #DBD4B4, #CC95C0);
}
.carousel-detect-right {
  position: absolute;
  z-index: 1000;
}

.carousel-item-left, .carousel-item-right {
  opacity: 0.8;
}
.carousel-item-center {
  z-index: 10;
}
.carousel-image {
  
  background-size: cover;
  width:100%;
  height: 250px;
}
.carousel-image-0 ,.carousel-image-0-list{
  background: url(../img/1x/service_1.png);

  background-size: cover;
}
.carousel-image-1 ,.carousel-image-1-list {
  background: url(../img/1x/service_2.png);

  background-size: cover;
}
.carousel-image-2 ,.carousel-image-2-list{
  background: url(../img/1x/service_3.png);

  background-size: cover;
}
.carousel-image-3, .carousel-image-3-list {
  background: url(../img/1x/service_4.png);

  background-size: cover;
}
.carousel-image-4, .carousel-image-4-list{
  background: url(../img/1x/service_5.png);

  background-size: cover;
}
.carousel-image-5, .carousel-image-5-list{
  background: url(../img/1x/service_6.png);

  background-size: cover;
}

.carousel-image-6, .carousel-image-6-list{
  background: url(../img/1x/service_7.png);

  background-size: cover;
}

.carousel-image-7, .carousel-image-7-list{
  background: url(../img/1x/service_8.png);

  background-size: cover;
}

.carousel-image-8, .carousel-image-8-list{
  background: url(../img/1x/service_9.png);

  background-size: cover;
}
.carousel-image-9, .carousel-image-9-list{
  background: url(../img/1x/service_10.png);

  background-size: cover;
}
.carousel-image-10, .carousel-image-10-list{
  background: url(../img/1x/service_11.png);

  background-size: cover;
}

.carousel-item-list {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  height: 320px;

  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}



.one-service {
  position: fixed;
  z-index: 9999999;
  left:0;
  top:0;


  background: rgba(0,0,0,0.75);
}

.service-display {
  z-index: 10000000;
  position: relative;
}

.cancel-service{
  position: absolute;
  width: 50px;
  margin-top: -65px;

  cursor: pointer;
}
.display-left {

  display: inline-block;
  margin: 0;
  padding: 0;

  background: url(../img/1x/service_1.png);
  background-size: cover;

}

.display-top {

  margin: 0;
  padding: 0;

  background: url(../img/1x/service_1.png);
  background-size: cover;


}
.display-bottom {
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.display-bottom-x {

  background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.display-right {

  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  left: -5px;

  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
}

.service-name {
  text-align: center;
  margin: 3px;
  padding: 0px;
  color:   #F0D2C4;
  font-size: 22px;
  display: block;
  font-weight: 400;
}

.m-service-name {
  text-align: center;
  margin: 3px;
  padding: 0px;
  color:   #F0D2C4;
  font-size: 15px;
  display: block;
  font-weight: 400;
}

.service-pricing {
  display: block;
  width: 80%;

  margin: 0 auto;
  padding: 0px;
  margin-top: 25px;
}

.pricing-left {
  border-right: 1px solid #F0D2C4;
  display: inline-block;
  width: 48%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.pricing-right {

  display: inline-block;
  width: 48%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 0%;
  position: relative;
}

.service-icon {
  display: block;
  width: 30px;

  position: relative;
  margin: 0px;
  padding: 0px;

}

.service-pop-text {
  position: absolute;
  margin-top: -30px;
  margin-left: 55px;
  font-size: 18px;
  color: #F0D2C4;
}

.m-service-pop-text {
  position: absolute;
  margin-top: -20px;
  margin-left: 27px;
  font-size: 12px;
  color: #F0D2C4;
}
.member-icon {
  display: block;
  width: 30px;
  font-size: 16px;
  border-radius: 30px;
  height: 30px;
  color: #F0D2C4;
  border: 2px solid #F0D2C4;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.m-member-icon {
  display: block;
  width: 20px;
  font-size: 16px;
  border-radius: 20px;
  height: 20px;
  color: #F0D2C4;
  border: 1px solid #F0D2C4;
  position: relative;
  margin: 0px;
  padding: 0px;
}


.member-icon p {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-top: 1px;
  font-size: 18px;
}

.m-member-icon p {
  margin: 0;
  padding: 0;
  margin-left: 4.5px;
  margin-top: 2.5px;
  font-size: 11px;
}
.non-member-icon {
  width: 30px;
  font-size: 16px;
  border-radius: 30px;
  height: 30px;
  color: #F0D2C4;
  border: 2px solid  #F0D2C4;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.m-non-member-icon {
  width: 20px;
  font-size: 16px;
  border-radius: 20px;
  height: 20px;
  color: #F0D2C4;
  border: 1px solid  #F0D2C4;
  position: relative;
  margin: 0px;
  padding: 0px;
}


.non-member-icon p {
  margin: 0;
  padding: 0;
  margin-left: 7px;
  margin-top: 2px;
  font-size: 18px;
}


.m-non-member-icon p {
  margin: 0;
  padding: 0;
  margin-left: 5.5px;
  margin-top: 2px;
  font-size: 11px;
}

.booking-button-pop {
  /* border: 1px solid black; */
   color: black;
   background: white; 
   padding: 6px 8px;
   border-radius: 3px;
   font-size: 16px;
   font-weight: 200;
   cursor: pointer;
   padding-left: 25px;
   padding-right: 25px;
   display: table;
   margin: 0 auto;
   margin-top: 45px;
  
 }

 .carousel-name {
  font-size: 25px;
  margin-top: 8px;
  margin-left: 24px;
  color: black;
  font-weight: 200;
  margin-bottom: 0px;
  height: 42px;
  overflow: hidden;
}

.carousel-price{
  color: black;
  font-size: 15px;
  font-weight: 300;
  margin-top: -10px;
  margin-left: 24px;
}

.top-service-leaf {
  position: absolute;
width: 250px;
margin-left: -10px;
margin-top: -10px;
}

.bottom-service-leaf {
  width: 250px;
  position: absolute;
}

.m-top-service-leaf {
  position: absolute;
  width: 100px;
  margin-left: -10px;
  margin-top: -10px;
}



.service-title {
  text-align: center;
  margin: 3px;
  padding: 0px;
  color:   #F0D2C4;
  font-size: 22px;
  display: block;
  font-weight: 600;
}

.m-bottom-service-leaf {
  width: 100px;
  position: absolute;
  float: bottom !important;
}

.m-bottom-service-leaf-x {
  width: 100px;
  position: absolute;
  top: 20px;
  z-index:1000;
}




.m-service {
  display: block;
}

.d-service {
  display: none;
}



@media (min-width: 350px) { 

  .m-bottom-service-leaf-x {
    width: 100px;
    position: absolute;
    top: 20px;

    left: 250px !important;
  
  }

  .d-left-center {
    margin-left: 50px;
  }
  .d-left-center-x {
    margin-left: 105px;
  }
  .d-left-center-y {
    margin-left: 30px;
  }

  .m-service-display {
    width: 350px !important;
    min-height: 450px !important;
    display: block;
    margin: 0 auto !important;
    margin-top: 25px;
  }

  .display-top {
    background-size: cover;
  }
}


 

@media (min-width: 576px) { }




@media (min-width: 768px) { 



  .m-service-display {
    width: 350px !important;
    min-height: 450px !important;
    display: block;
    margin: 0 auto !important;
    margin-top: 25px;
  }

  .display-top {
    background-size: cover;
  }


  .member-icon {
    display: block;
    width: 30px;
    font-size: 16px;
    border-radius: 30px;
    height: 30px;
    color: #F0D2C4;
    border: 2px solid #F0D2C4;
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  

 
  
  
  
}



.d-list {
  display: none;
}
@media (min-width: 992px) {
  .d-list {
    display: block;
  }

  .m-list {
    display: none;
  }

}


@media (min-width: 1200px) { }

.m-service-content {
  position: relative;
  top: 15px;
}



.tap {
  color: white;
  display: table;
  margin: 0 auto;
  margin-top: 3%;
}

.m-service {
  max-height: 100%;
  overflow-y: scroll;
}

.m-service-icon {
  display: block;
  width: 20px;

  position: relative;
  margin: 0px;
  padding: 0px;
}