/* -------------------------------------------------- 
    Table of Contents - Part 1
-----------------------------------------------------
:: Font imports
:: Reset & Standards
:: Links
:: Lists
:: Tables
:: Misc
:: Typography
:: Grid
:: Block grid
*/

/* --------------------------------------------------
   Table of Contents - Part 2
-----------------------------------------------------
:: Buttons
:: Alerts
:: Notices/Alerts
:: Tabs
:: Pagination
:: Lists
:: Panels
:: Nav
:: Microformats
:: Standard forms
:: Nicer forms
:: Custom forms
:: Reveal
:: Shortcodes
:: Media queries (Grid, Blockgrid, Mobile visibility affordances, Forms, UI elements)
*/

/* --------------------------------------------------
   Table of Contents - Part 3
-----------------------------------------------------
:: Blog structure
:: Shortcodes
:: Basic Wordpress Outputs
:: Sytling Pagination for wp-pagenavi

*/

/*	--------------------------------------------------
	:: Font imports
	-------------------------------------------------- */

	/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic); */

/*	--------------------------------------------------
	:: Global Reset & Standards
	-------------------------------------------------- */
	
	/* 
		Eric Meyer's CSS Reset
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
   		License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
	}
	html {
		font-size: 62.5%; 
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1; overflow-y: scroll;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	/* Because border-box FTW! http://paulirish.com/2012/box-sizing-border-box-ftw/ */
	* { 
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		box-sizing: border-box; 
	}
	
	
	body { background: #000000; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #666666; position: relative; -webkit-font-smoothing: antialiased; }


/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	a { color: #2a85e8; text-decoration: none; line-height: inherit; }
	a:hover { color: #11639d; }
	a:focus { color: #cc4714; outline: none; }
	p a, p a:visited { line-height: inherit; }
	

/*	--------------------------------------------------
	:: Lists
	-------------------------------------------------- */
	ul, ol { margin-bottom: 18px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	li { margin-bottom: 8px; }
	ul.large li { line-height: 21px; }
	

/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */
	table { background: #fff; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; margin: 0 0 18px; border: 1px solid #ddd; width:980px; }
	
	table thead, table tfoot { background: #f5f5f5; }
	table thead tr th,
	table tfoot tr th,
	table tbody tr td,
	table tr td,
	table thead tr th { padding: 6px 8px; font-size: 12px; color: #222; text-align: center;}
	table tfoot tr td { padding: 6px 8px; font-size: 12px; color: #222; text-align: left;}
		table tfoot tr #next {text-align: right;}
	table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
	table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }

	table tbody tr.even,
	table tbody tr.alt { background: #f9f9f9; }
	table tbody tr:nth-child(even) { background: #f9f9f9; }
	table tbody tr td { color: #333; padding: 6px 8px; vertical-align: top; border: none; text-align: center;}

/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
	.left       { float: left; }
	.right      { float: right; }
	.hide     	{ display: none; }
	.highlight 	{ background: #ff0; }

/*	--------------------------------------------------
    :: Typography
	-------------------------------------------------- */
	h1, h2, h3, h4, h5, h6 { color: #181818; font-weight: normal; line-height: 1.5; clear: both;}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 20px; margin-bottom: 0;}
	h2 { font-size: 18px; margin-bottom: 5px; }
	h3 { font-size: 16px; margin-bottom: 10px; }
	h4 { font-size: 14px; margin-bottom: 10px; }
	h5 { font-size: 12px; font-weight: bold; margin-bottom: 10px;  }
	h6 { font-size: 10px; font-weight: bold; }

	h1.logo {font-size:1rem; margin-bottom:10px;}
	.subheader { font-weight: normal; margin-bottom: 8px; font-size:16px;}

	p { line-height: 1.68; padding: 6px 0; margin: 0 }
	p img { margin: 0; }
	p.lead { font-size: 18px; font-size: 1.8rem; line-height: 24px;  }
	
	em, i { font-style: italic; line-height: inherit; }
	strong, b { font-weight: bold; line-height: inherit; }
	small { font-size: 60%; line-height: inherit; }
	
	h1 small, h2 small, h3 small, h4 small, h5 small { color: #777; }
	
/*	Blockquotes  */
	blockquote, blockquote p { line-height: 20px; color: #666666; font-size: 14px;}
	blockquote { margin: 15px auto; padding: 0 30px 0 40px; width: 95%; }
	blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited { color: #555; }
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 20px 0 25px; height: 0; }
	
	abbr, acronym { text-transform: uppercase; font-size: 90%; color: #666; }
	abbr { text-transform: none; }

	/**
 	 * Print styles.
	 *
	 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
	 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
	 */
	@media print {
	  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	  p a, p a:visited { color: #444 !important; text-decoration: underline; }
	  p a[href]:after { content: " (" attr(href) ")"; }
	  abbr[title]:after { content: " (" attr(title) ")"; }
	  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	  tr, img { page-break-inside: avoid; }
	  @page { margin: 0.5cm; }
	  p, h2, h3 { orphans: 3; widows: 3; }
	  h2, h3{ page-break-after: avoid; }
	}
/* Arfully Masterminded by ZURB */

/* --------------------------------------------------
	:: Grid
	
	This is the mobile-friendly, responsive grid.
	
	-------------------------------------------------- */

	.container { padding: 30px;  width: 980px; background:#FFFFFF; box-shadow: 0 0 12px #525252;}
	
	.row { width: 100%; margin: 0 auto; }
	/* To fix the grid into a certain size, set max-width to width */
	.row .row { min-width: 0; }
	
	.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
	.column:first-child, .columns:first-child { margin-left: 0; }
	
	.row .one.columns 		{ width: 4.3%; }
	.row .two.columns 		{ width: 13%; }
	.row .three.columns 	{ width: 21.68%; }
	.row .four.columns 		{ width: 30.4%; }
	.row .five.columns 		{ width: 39.1%; }
	.row .six.columns 		{ width: 47.8%; }
	.row .seven.columns 	{ width: 56.5%; }
	.row .eight.columns 	{ width: 65.2%; }
	.row .nine.columns 		{ width: 73.9%; }
	.row .ten.columns 		{ width: 82.6%; }
	.row .eleven.columns 	{ width: 91.3%; }
	.row .twelve.columns 	{ width: 100%; }
	
	.row .offset-by-one 	{ margin-left: 13.1%;  }
	.row .offset-by-two 	{ margin-left: 21.8%;  }
	.row .offset-by-three 	{ margin-left: 30.5%;  }
	.row .offset-by-four 	{ margin-left: 39.2%;  }
	.row .offset-by-five 	{ margin-left: 47.9%;  }
	.row .offset-by-six 	{ margin-left: 56.6%;  }
	.row .offset-by-seven 	{ margin-left: 65.3%;  }
	.row .offset-by-eight 	{ margin-left: 74.0%;  }
	.row .offset-by-nine 	{ margin-left: 82.7%;  }
	.row .offset-by-ten 	{ margin-left: 91.4%;  }
	
	.row .centered { float: none; margin: 0 auto; }

	.row .offset-by-one:first-child 	{ margin-left: 8.7%;  }
	.row .offset-by-two:first-child 	{ margin-left: 17.4%;  }
	.row .offset-by-three:first-child 	{ margin-left: 26.1%;  }
	.row .offset-by-four:first-child 	{ margin-left: 34.8%;  }
	.row .offset-by-five:first-child 	{ margin-left: 43.5%;  }
	.row .offset-by-six:first-child 	{ margin-left: 52.2%;  }
	.row .offset-by-seven:first-child 	{ margin-left: 60.9%;  }
	.row .offset-by-eight:first-child 	{ margin-left: 69.6%;  }
	.row .offset-by-nine:first-child 	{ margin-left: 78.3%;  }
	.row .offset-by-ten:first-child 	{ margin-left: 87%;  }
	.row .offset-by-eleven:first-child 	{ margin-left: 95.7%;  }
	
	img, object, embed { max-width: 100%; height: auto; }
	img { -ms-interpolation-mode: bicubic; }
	div.wp-caption {width:auto!important;} /* Fix for fixed width container of captioned images */
	 
	 /* Nicolas Gallagher's micro clearfix */
	 .row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
	 .row:after, .clearfix:after { clear: both; }
	 .row, .clearfix { zoom: 1; }
	 
	 
	
	
/*	--------------------------------------------------
	:: Block grids
	
	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	-------------------------------------------------- */
	
	.block-grid { display: block; overflow: hidden; }
	.block-grid>li { display: block; height: auto; float: left; }
	
	.block-grid.two-up { margin-left: -4% }
	.block-grid.two-up>li { margin-left: 4%; width: 46%; }
	
	.block-grid.three-up { margin-left: -2% }
	.block-grid.three-up>li { margin-left: 2%; width: 31.3%; }
	
	.block-grid.four-up { margin-left: -2% }
	.block-grid.four-up>li { margin-left: 2%; width: 23%; }
	
	.block-grid.five-up { margin-left: -1.5% }
	.block-grid.five-up>li { margin-left: 1.5%; width: 18.5%; }

/* Artfully masterminded by ZURB  */

/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */

	.button {
		background: #00a6fc;
		display: inline-block;
		text-align: center;
		padding: 9px 34px 11px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 13px; font-size: 1.3rem;
		font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
		position: relative;
		cursor: pointer;
		border: none;
		outline: none;
		margin: 0;
	}
	
  	/* Don't use native buttons on iOS */
	input[type=submit].button, button.button { -webkit-appearance: none; }
	
	/* Hide inner focus effect in Firefox */
	button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
		border: none;
	}
	
	.button.nice { 
		background: #00a6fc;
		-webkit-transition: background-color .15s ease-in-out;
		-moz-transition: background-color .15s ease-in-out;
		-o-transition: background-color .15s ease-in-out;
		margin: 10px 0 0;
		background-image: -moz-linear-gradient(top, rgba(252,252,252,0.2) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,0.2)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top, rgba(252,252,252,0.2) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
		background-image: -o-linear-gradient(top, rgba(252,252,252,0.2) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
		background-image: -ms-linear-gradient(top, rgba(252,252,252,0.2) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
		background-image: linear-gradient(to bottom, rgba(252,252,252,0.2) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66fcfcfc', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
		background-repeat: no-repeat;
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3), 0 1px 1px 1px rgba(0,0,0,0.15);
		line-height: 1;
	}

	.button.radius {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	.button.round {
		-moz-border-radius: 1000px;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
	}

	.button.full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
	}

	.button.left-align {
		text-align: left;
		text-indent: 12px;
	}
	
	/* Sizes ---------- */
	.tiny.button			{ font-size: 10px; padding: 6px 12px 8px; width: auto; }
	.small.button 			{ font-size: 11px; padding: 8px 16px 10px; width: auto; }
	.medium.button 			{ font-size: 13px; padding: 10px 24px 12px; width: auto; }
	.large.button 			{ font-size: 15px; padding: 12px 28px 14px; width: auto; }

	/* Colors ---------- */
	.blue.button			{ background-color: #1595e3; color: #FFFFFF; border: 1px solid #2780C8; text-shadow: 0px 1px 0 #0b4f7a;}
	.red.button				{ background-color: #e91c21; color: #FFFFFF; border: 1px solid #BE070D; text-shadow: 0px 1px 0 #7A0B0B;}
	.white.button			{ background-color: #e4e6e9; color: #666666; border: 1px solid #A0A0A0; text-shadow: 0px 1px 0 #E4E4E4;}
	.black.button			{ background-color: #5a5a5a; color: #FFFFFF; border: 1px solid #232323; text-shadow: 0px 1px 0 #000000;}
	.green.button			{ background-color: #9ecf61; color: #446620; border: 1px solid #70a43b; text-shadow: 0px 1px 0 #B3D294;}
	.yellow.button			{ background-color: #f6bc30; color: #8b4602; border: 1px solid #bd7f11; text-shadow: 0px 1px 0 #EEC567;}
	
	
	/* Hovers ---------- */
	
	.blue.button:hover		{ background-color: #41ADEF; }
	.red.button:hover 		{ background-color: #F53F45; }
	.white.button:hover		{ background-color: #F0F0F0; color: #666666;}
	.black.button:hover		{ background-color: #6C6C6C; }
	.green.button:hover		{ background-color: #B1DC7E; color: #446620; text-shadow: 0px 1px 0 #C5DCAD;}	
	.yellow.button:hover	{ background-color: #FECE61; color: #8b4602; text-shadow: 0px 1px 0 #F7D891;}
	
	/* Hovers ---------- */
	
	.blue.button:active		{ background-color: #1595e3; }
	.red.button:active 		{ background-color: #e91c21; }
	.white.button:active	{ background-color: #e4e6e9; }
	.black.button:active	{ background-color: #5a5a5a; }
	.green.button:active	{ background-color: #9ecf61; text-shadow: 0px 1px 0 #B3D294;}	
	.yellow.button:active	{ background-color: #f6bc30; text-shadow: 0px 1px 0 #EEC567;}

	/* Hovers ---------- */
	.nice.button:active 	{ 
		-moz-box-shadow: inset 0 4px 5px rgba(0,0,0,.25);
		-webkit-box-shadow: inset 0 4px 5px rgba(0,0,0,.25);
		box-shadow: inset 0 4px 5px rgba(0,0,0,.25);
	}
	
	/* Disabled ---------- */
	.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }
	
	/* Correct FF button padding */
	@-moz-document url-prefix("http://") {
		input[type=submit].button::-moz-focus-inner, button.button::-moz-focus-inner { border: 0; padding: 0; }
		input[type=submit].tiny.button		{ padding: 5px 14px 7px; }
		input[type=submit].small.button		{ padding: 7px 20px 8px; }
		input[type=submit].medium.button	{ padding: 8px 34px 9px; }
		input[type=submit].large.button		{ padding: 9px 48px 10px; }
	}



/*	--------------------------------------------------
	Alerts
	-------------------------------------------------- */

	div.alert-box { display: inline-block; padding: 5px 25px 5px 7px; font-weight: bold; font-size: 12px; background: #eee; border: 1px solid rgba(0,0,0,0.1); color: #666666; margin: 15px 0 5px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-shadow: 0 1px rgba(255,255,255,0.9); position: relative; width:100%; }
	.alert-box.success { background-color: #7fae00; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
	.alert-box.warning { background-color: #c08c00; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
	.alert-box.error { background-color: #c00000; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
	
	.alert-box a.close { color: #000; position: absolute; right: 4px; top: 1px; font-size: 17px; opacity: 0.2; padding: 4px; }
	.alert-box a.close:hover,.alert-box a.close:focus { opacity: 0.4; }


/*  --------------------------------------------------
    Labels
    -------------------------------------------------- */

	.label { padding: 2px 5px; font-size: 12px; text-align: center; text-decoration: none; white-space: nowrap; display: inline; position: relative; color: #fff; background: #00a6fc; }
	.label.radius { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
	.label.round { padding: 1px 7px 2px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
	
	/* Colors ---------- */
	.blue.label				{ background-color: #00a6fc; }
	.red.label				{ background-color: #e91c21; }
	.green.label			{ background-color: #7fae00; }
	.white.label			{ background-color: #e9e9e9; color: #333; }
	.black.label			{ background-color: #141414; }
	
/*  --------------------------------------------------
    Tabs
    -------------------------------------------------- */
    dl.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
    dl.tabs dt { display: block; width: auto; height: 30px; padding: 0 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
    dl.tabs dt:first-child { padding: 0 9px 0 0; }
    dl.tabs dd { display: block; width: auto; height: 30px; padding: 0; float: left; }
    dl.tabs dd a { display: block; width: auto; height: 29px; padding: 0 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
    dl.tabs dd a.active { background: #fff; border-width: 1px 1px 0 1px; height: 30px; }

		.nice.tabs { border-bottom: solid 1px #eee; margin: 0 0 30px 0; height:43px; }
		.nice.tabs dd a { padding: 7px 18px 9px; font-size: 15px; font-size: 1.5rem; color: #555555; background: none; border: none; }
		.nice.tabs dd a.active { font-weight: bold; color: #333; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 3px solid #00a6fc; margin: 0 10px; position: relative; top: -5px; }
		.nice.tabs dd:first-child a.active { margin-left: 0; }
		
	dl.tabs.vertical { height: auto; }
	dl.tabs.vertical dt, dl.tabs.vertical dd, dl.nice.tabs.vertical dt, dl.nice.tabs.vertical dd { float: none; height: auto; }
	dl.tabs.vertical dd a { display: block; width: auto; height: auto; padding: 15px 20px; line-height: 1; border: solid 0 #ccc; border-width: 1px 1px 0; margin: 0; color: #555; background: #eee; font-size: 15px; font-size: 1.5rem; }
	dl.tabs.vertical dd a.active { height: auto; margin: 0; border-width: 1px 0 0; background: #fff; }
	
		.nice.tabs.vertical { border-bottom: solid 1px #eee; height: auto; }
		.nice.tabs.vertical dd a { padding: 15px 20px; border: none; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 1px solid #eee; background: #fff; }
		.nice.tabs.vertical dd a.active { border: none; background: #00a6fc; color: #fff; margin: 0; position: static; top: 0; height: auto; }
		.nice.tabs.vertical dd:first-child a.active { margin: 0; }
    
    ul.tabs-content { margin: 0; display: block; }
    ul.tabs-content>li { display:none; }
    ul.tabs-content>li.active { display: block; }
    
    dl.contained, dl.nice.contained { margin-bottom: 0; }
    dl.contained.tabs dd a { padding: 0 14px; }
    dl.nice.contained.tabs dd a { padding: 7px 18px 9px; }

    ul.contained.tabs-content { padding: 0; }
	ul.contained.tabs-content>li { padding: 20px; border: solid 0 #ddd; border-width: 0 1px 1px 1px; }
	ul.nice.contained.tabs-content>li { border-color: #eee; }
	
/*  --------------------------------------------------
    Pagination
    -------------------------------------------------- */
    ul.pagination { display: block; height: 24px; margin-left: -5px; margin-bottom:45px;}
    ul.pagination li { float: left; display: block; height: 24px; color: #999; font-size: 12px; margin-left: 5px; }
    ul.pagination li a { display: block; padding: 6px 7px 4px; color: #555; }
    ul.pagination li.current a, ul.pagination li:hover a, ul.pagination li a:focus { }
    ul.pagination li.unavailable a { cursor: default; color: #999; }
    ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus { border-bottom: none; }
    
/* 	--------------------------------------------------
	Breadcrumbs
	-------------------------------------------------- */
    ul.breadcrumbs { display: block; background: #f4f4f4; padding: 7px 10px; border: 1px solid #ddd; border-radius: 2px; overflow: hidden; }
	ul.breadcrumbs li { margin: 0; padding: 0 12px 0 0; float: left; }
	ul.breadcrumbs li a, ul.breadcrumbs li span { text-transform: uppercase; font-size: 11px; padding-left: 12px; }
	ul.breadcrumbs li:first-child a, ul.breadcrumbs li:first-child span { padding-left: 0; }
	ul.breadcrumbs li:before { content: "/"; color: #aaa; }
	ul.breadcrumbs li:first-child:before { content: " "; }
	ul.breadcrumbs li.current a { cursor: default; color: #333; }
	ul.breadcrumbs li:hover a, ul.breadcrumbs li a:focus { text-decoration: underline; }
	ul.breadcrumbs li.current:hover a, ul.breadcrumbs li.current a:focus { text-decoration: none; }
	ul.breadcrumbs li.unavailable a { color: #999; }
    ul.breadcrumbs li.unavailable:hover a, ul.pagination li.unavailable a:focus { text-decoration: none; color: #999; cursor: default; }
	
/*  ---------------------------------------------------
	Breads - 2
	--------------------------------------------------- */
	.crumbs {display: block; background: #f4f4f4; padding: 7px 10px; border: 1px solid #ddd; border-radius: 2px; overflow: hidden; margin-top:20px;}
	
/*  --------------------------------------------------
    Lists
    -------------------------------------------------- */
    ul.nice, ol.nice { list-style: none; margin: 0; }
    ul.nice li, ol.nice li { padding-left: 13px; position: relative }
    ul.nice li span.bullet, ol.nice li span.number { position: absolute; left: 0; top: 0; color: #ccc; }

/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
	div.panel {
		padding: 20px 20px 2px 20px;
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
		margin: 0 0 20px 0;
	}

/*	--------------------------------------------------
   	Nav Bar with Dropdowns
	-------------------------------------------------- */
	
	.nav-bar { height: 40px; background-color: #F5F5F5; background-image: none; margin-top: 20px; margin-bottom: 0; border: 1px solid #ddd; border-radius: 2px;}	
	.nav-bar>li { float: left; display: block; position: relative; padding: 0; margin: 0; border-right: 1px solid #ddd;}
	.nav-bar>li>a { position: relative; font-size: 14px; padding: 10px 20px; display: block; text-decoration: none; font-size: 15px; font-size: 1.5rem; color: #555555;}
	.nav-bar>li>input { margin: 0 16px; }
	.nav-bar>li ul { margin-bottom: 0; }
	.nav-bar>li li { border-color: #DDDDDD; border-style: solid; border-width: 0 1px 1px; line-height: 1.3; margin: 0; position:relative;}
	.nav-bar>li li a {padding:10px 20px; display:block; color: #555555;}
	.nav-bar>li.has-flyout>a { padding-right: 36px; }
	.nav-bar>li.has-flyout>a:after { content: ""; width: 0; height: 0; border-left: 4px solid #555555; border-right: 4px solid transparent; border-top: 4px solid transparent; border-bottom: 4px solid transparent; display: block; position: absolute; right: 18px; bottom: 16px; }
	.nav-bar ul.sub-menu>li.has-flyout>a:after {content: ""; width: 0; height: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 4px solid transparent; border-left: 4px solid #555555; display: block; position: absolute; right: 18px; bottom: 15px;}
	.nav-bar>li:hover>a { background: #FFFFFF; color: #222222; z-index: 2; }
	.nav-bar>li:hover>a:after { border-top-color: #222222; }
	.nav-bar>li li:hover>a {background: #F5F5F5; color: #222222;}
	.nav-bar>li li:hover>a:after { border-left-color: #222222; }

	.flyout-tier-1 { background: #fff; min-width: 300px; padding: 10px 0; position: absolute; right: -290px; top: -10px; width: auto; z-index: 10; }
	.flyout-tier-2 { background: #fff; margin: 0; padding: 10px 0; position: absolute; top: -10px; left: 290px; width: auto; min-width:300px; z-index: 10; }
	.flyout-tier-3 { background: #fff; margin: 0; padding: 10px 0; position: absolute; top: -10px; left: 200px; width: auto; min-width:300px; z-index: 10; }

	.flyout-tier-1.small, .flyout-tier-2.small, .flyout-tier-3.small { width: 230px; }
	.flyout-tier-1.large, .flyout-tier-2.large, .flyout-tier-3.large { width: 630px; }
	.flyout-tier-1.right, .flyout-tier-2.right, .flyout-tier-3.right { left: auto; right: 0; }
	.flyout-tier-1 p:last-child, .flyout-tier-2 p:last-child, .flyout-tier-3 p:last-child { margin-bottom: 0; }
	.nav-bar>li .flyout-tier-1, .nav-bar>li .flyout-tier-2, .nav-bar>li .flyout-tier-3 { display: none; }
	.nav-bar>li:hover .flyout-tier-1 { display: block; }
	.nav-bar li li:hover .flyout-tier-2 { display:block; }
	.nav-bar li li li:hover .flyout-tier-3 { display:block; }
	
	.nav-bar>li.current-menu-item>a {background: #FFFFFF; color: #222222;}
	.nav-bar>li.current-menu-item>a:after { border-top-color: #222222; }
	.nav-bar>li li.current-menu-item>a {background: #F5F5F5; color: #222222;}
	.nav-bar>li li.current-menu-item>a:after { border-top-color: #222222; }
	
	.nav-bar>li.current-menu-ancestor>a {background: #FFFFFF; color: #222222;}
	.nav-bar>li.current-menu-ancestor>a:after {border-top-color: #222222;}
	.nav-bar>li li.current-menu-ancestor>a {background: #222222; color: #222222;}
	.nav-bar>li li.current-menu-ancestor>a:after { border-top-color: #222222; }


/*	--------------------------------------------------
   	Microformats
	-------------------------------------------------- */
	
	/* hCard */
	ul.vcard { display: inline-block; margin: 0 0 12px 0; border: 1px solid #ddd; padding: 10px; }
	ul.vcard li { margin: 0; display: block; }
	ul.vcard li.fn { font-weight: bold; font-size: 15px; font-size: 1.5rem; }
	
	p.vevent span.summary { font-weight: bold; }
	p.vevent abbr { cursor: default; text-decoration: none; font-weight: bold; border: none; padding: 0 1px; }
	
	
/* -----------------------------------------
   Standard Forms
----------------------------------------- */

	form label { font-size: 12px; line-height: 18px; cursor: pointer; display: block; margin-bottom: 5px;}
	
	#form-section-author, #form-section-email, #form-section-url {width:31%; float: left; margin-right:15px; margin-bottom: 15px;}
	#form-section-url {margin-right:0;}
	#form-section-comment {display: inline-block; width:100%;}

	input.input-text, textarea { border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; }
	input.input-text, textarea, select { display: block; margin-bottom: 9px; }
	label + input.input-text, label + textarea, label + select, label + div.dropdown, select + div.dropdown { margin-top: -9px; }

	/* Text input and textarea font and padding */
	input.input-text, textarea { font-size: 13px; padding: 4px 3px 2px; background: #fff; }
	input.input-text:focus, textarea:focus { outline: none !important; }
	input.input-text.oversize, textarea.oversize { font-size: 18px !important; padding: 4px 5px !important; }
	input.input-text:focus, textarea:focus { background: #f9f9f9; }

	/* Inlined Label Style */
	input.placeholder, textarea.placeholder { color: #888; }

	/* Text input and textarea sizes */
	input.input-text, textarea { width: 254px; }
	input.small, textarea.small { width: 134px; }
	input.medium, textarea.medium { width: 254px; }
	input.large, textarea.large { width: 434px; }

	/* Fieldsets */
	form fieldset { padding: 9px 9px 2px 9px; border: solid 1px #ddd; margin: 18px 0; }

	/* Inlined Radio & Checkbox */
	.form-field input[type=radio],  input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

	/* Errors */
	.form-field.error input, input.input-text.red { border-color: red; background-color: rgba(255,0,0,0.15); }
	.form-field.error label, label.red { color: red; }
	.form-field.error small, small.error { margin-top: -6px; display: block; margin-bottom: 9px; font-size: 11px; color: red; width: 260px; }

	.small + small.error { width: 140px; }
	.medium + small.error { width: 260px; }
	.large + small.error { width: 440px; }

	/* -----------------------------------------
	   Nicer Forms
	----------------------------------------- */
	form#commentform p.comment-notes {font-size: 12px; font-size:1.2rem; margin-bottom:25px;}
	form#commentform .form-section { margin-bottom:12px; }
	form#commentform input, form#commentform input.input-text, form#commentform textarea { border: solid 1px #bbb; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
	form#commentform input, form#commentform input.input-text, form#commentform textarea { width:100%;  font-size: 13px; padding: 6px 3px 4px; outline: none !important; background: url(../images/misc/input-bg.png) #fff; }
	form#commentform textarea { width:100%; font-family: inherit;}
	form#commentform input {margin-right:5px;}
	form#commentform input:focus, form#commentform input.input-text:focus, form#commentform textarea:focus { background-color: #f9f9f9; }

	form#commentform fieldset { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

	form#commentform  input[type=radio], form#commentform  input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

	form#commentform .error small, form#commentform small.error { padding: 6px 4px; border: solid 0 red; border-width: 0 1px 1px 1px; margin-top: -10px; background: red; color: #fff; font-size: 12px; font-weight: bold; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px; }

 	form#commentform .error .small + small, form#commentform .small + small.error { width: 132px; }
	form#commentform .error .medium + small, form#commentform .medium + small.error { width: 252px; }
	form#commentform .error .large + small, form#commentform .large + small.error { width: 432px; }
	
	/* -----------------------------------------
	   WPCF7 Forms
	----------------------------------------- */
	form.wpcf7-form p.comment-notes {font-size: 12px; font-size:1.2rem; margin-bottom:25px;}
	form.wpcf7-form .form-section { margin-bottom:10px; }
	form.wpcf7-form input, form.wpcf7-form input.input-text, form.wpcf7-form textarea { border: solid 1px #bbb; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
	form.wpcf7-form input, form.wpcf7-form input.input-text, form.wpcf7-form textarea { width:100%;  font-size: 13px; padding: 6px 3px 4px; outline: none !important; background: url(../images/misc/input-bg.png) #fff; }
	form.wpcf7-form textarea { width:100%; font-family: inherit;}
	form.wpcf7-form input {margin-right:5px;}
	form.wpcf7-form input:focus, form.wpcf7-form input.input-text:focus, form.wpcf7-form textarea:focus { background-color: #f9f9f9; }

	form.wpcf7-form fieldset { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

	form.wpcf7-form  input[type=radio], form.wpcf7-form  input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

	form.wpcf7-form .error small, form.wpcf7-form small.error { padding: 6px 4px; border: solid 0 red; border-width: 0 1px 1px 1px; margin-top: -10px; background: red; color: #fff; font-size: 12px; font-weight: bold; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px; }

 	form.wpcf7-form .error .small + small, form.wpcf7-form .small + small.error { width: 132px; }
	form.wpcf7-form .error .medium + small, form.wpcf7-form .medium + small.error { width: 252px; }
	form.wpcf7-form .error .large + small, form.wpcf7-form .large + small.error { width: 432px; }

	/* -----------------------------------------
	   Custom Forms
	----------------------------------------- */

	form.custom span.custom { display: inline-block; width: 14px; height: 14px; position: relative; top: 2px; border: solid 1px #ccc; background: url(../images/misc/custom-form-sprites.png) 0 0 no-repeat; }
	form.custom span.custom.radio { border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
	form.custom span.custom.radio.checked { background-position: 0 -14px; }
	form.custom span.custom.checkbox.checked { background-position: 0 -28px; }
	
	form.custom div.custom.dropdown { position: relative; display: inline-block; width: auto; height: 28px; margin-bottom: 9px; }
	form.custom div.custom.dropdown a.current { display: block; width: auto; line-height: 26px; padding: 0 38px 0 6px; border: solid 1px #ddd; color: #141414; }
	form.custom div.custom.dropdown a.selector { position: absolute; width: 26px; height: 26px; display: block; background: url(../images/misc/custom-form-sprites.png) -14px 0 no-repeat; right: 0; top: 0; border: solid 1px #ddd; }
	form.custom div.custom.dropdown:hover a.selector,
	form.custom div.custom.dropdown.open a.selector { background-position: -14px -26px; }
	
	form.custom div.custom.dropdown ul { position: absolute; width: auto; display: none; margin: 0; left: 0; top: 27px; margin: 0; padding: 0; background: rgba(255,255,255,0.9); border: solid 1px #ddd; z-index: 10; }
	form.custom div.custom.dropdown ul li { cursor: pointer; padding: 3px 38px 3px 6px; margin: 0; }
	form.custom div.custom.dropdown ul li.selected { background: url(../images/misc/custom-form-sprites.png) right -52px no-repeat; }
	form.custom div.custom.dropdown ul li:hover { background-color: #2a85e8; color: #fff; }
	form.custom div.custom.dropdown ul li.selected:hover { background: url(../images/misc/custom-form-sprites.png) #2a85e8 right -78px no-repeat; }
	form.custom div.custom.dropdown ul.show { display: block; }
	
	form.custom div.custom.dropdown.open ul { display: block; }
	
	/* -----------------------------------------
	   Author box
	----------------------------------------- */
	
	#author-infobox {  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #F5F5F5; 
	border: 1px solid #D5D5D5; display: inline-block; padding: 15px; border-radius:2px; margin-bottom: 40px; width: 100%; }
	#author-infobox .author-img {float: left; margin-right: 15px;}
	#author-infobox .author-img img {border-radius: 2px;}
	#author-infobox h5 {color: #FFFFFF; margin-bottom: 5px; clear: none;}
	#author-infobox .author-desc p {margin: 0; font-size: 12px; font-size:1.2rem;}

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		z-index: 2000;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #eee url(../images/misc/modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 2001;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	
	.reveal-modal .row {
		min-width: 0;
	}
	
	/* Mobile */
	
		@media only screen and (max-width: 980px) {
			.container {
				width:100%;
			}
		}
		
		@media handheld, only screen and (device-width: 768px), (device-width: 800px) {
			.reveal-modal-bg { position: absolute; }
			
			.reveal-modal,
			.reveal-modal.small,
			.reveal-modal.medium,
			.reveal-modal.large,
			.reveal-modal.xlarge { width: 60%; top: 30%; left: 15%; margin-left: 0; padding: 5%; height: auto; }
		}
		
		@media handheld, only screen and (max-width: 767px) {
			.reveal-modal-bg { position: absolute; }
			
			.reveal-modal,
			.reveal-modal.small,
			.reveal-modal.medium,
			.reveal-modal.large,
			.reveal-modal.xlarge { width: 80%; top: 15%; left: 5%; margin-left: 0; padding: 5%; height: auto; }
		}
	
	
	/*
			
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/	
	
/* --------------------------------------------------
	:: Shortcodes
	-------------------------------------------------- */
	
/* One half */
.one_half { width:47.7%; margin:0 0 0 4.5%; float: left; display: inline-block; position: relative;}

/* One third */
.one_third {width:30%; margin:0 0 0 4.5%; float:left; display: inline-block;}

/* Two third */
.two_third {width:64.9%; margin:0 0 0 4.5%; float:left; display: inline-block;}

.first { clear: left; margin-left: 0}

/* --------------------------------------------------
	:: Grid
	-------------------------------------------------- */
	
	/* Tablet screens */
	@media only screen and (device-width: 768px), (device-width: 800px) {
		/* Currently unused */
	}
	
	
	/* Mobile */
	@media only screen and (max-width: 960px) {		
		body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
		.container { min-width: 0; margin-left: 0; margin-right: 0; width: 100%}
		.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
		.row .row .column, .row .row .columns { padding: 0; }
		.column, .columns { width: auto; float: left; margin-left: 0; margin-right: 0; }
		.column:last-child, .columns:last-child { margin-right: 0; }
		.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered { margin-left: 0 !important; }
		
		
		/* Mobile 4-column Grid */
		.row .phone-one.column:first-child, .row .phone-two.column:first-child, .row .phone-three.column:first-child, .row .phone-four.column:first-child, .row .phone-one.columns:first-child, .row .phone-two.columns:first-child, .row .phone-three.columns:first-child, .row .phone-four.columns:first-child { margin-left: 0; }
		
		.row .phone-one.column, .row .phone-two.column, .row .phone-three.column, .row .phone-four.column,
		.row .phone-one.columns, .row .phone-two.columns, .row .phone-three.columns, .row .phone-four.columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; padding: 0; }
		
		.row .phone-one.columns { width: 21.68% !important; }
		.row .phone-two.columns { width: 47.8% !important; }
		.row .phone-three.columns { width: 73.9% !important; }
		.row .phone-four.columns { width: 100% !important; }
		
		
	}
	
	
/* --------------------------------------------------
	:: Block Grids
	-------------------------------------------------- */	
	
	@media only screen and (max-width: 960px) {
		.block-grid.mobile { margin-left: 0; }
		.block-grid.mobile li { float: none; width: 100%; margin-left: 0; }
	}
	
	

/* -------------------------------------------------- 
	:: Mobile Visibility Affordances
---------------------------------------------------*/
	
	
	.show-on-phones { display: none !important; }	
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: inline-block !important; }
	
	.hide-on-phones { display: inline-block !important; }	
	.hide-on-tablets { display: inline-block !important; }
	.hide-on-desktops { display: none !important; }
	
	
	@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
		.hide-on-phones { display: inline-block !important; }
		.hide-on-tablets { display: none !important; }
		.hide-on-desktops { display: inline-block !important; }
		
		.show-on-phones { display: none !important; }
		.show-on-tablets { display: inline-block !important; }
		.show-on-desktops { display: none !important; }
	}
	
		
	@media only screen and (max-width: 767px) {
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: inline-block !important; }
		.hide-on-desktops { display: inline-block !important; }
		
		.show-on-phones { display: inline-block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }
	}
	
	/* only screen and (device-width: 1280px), only screen and (max-device-width: 1280px),  /*
	/* Keeping this in as a reminder to address support for other tablet devices like the Xoom in the future */
	
	/* Specific overrides for elements that require something other than display: block */
	
	table.show-on-desktops { display: table !important; }
	table.hide-on-phones { display: table !important; }	
	table.hide-on-tablets { display: table !important; }
	
	@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
		table.hide-on-phones { display: block !important; }
		table.hide-on-desktops { display: block !important; }
		table.show-on-tablets { display: block !important; }
	}
	
	@media only screen and (max-width: 767px) {
		table.hide-on-tablets { display: block !important; }
		table.hide-on-desktops { display: block !important; }
		table.show-on-phones { display: block !important; }
	}
	
	
/* -------------------------------------------------- 
	:: Forms
---------------------------------------------------*/	


	@media only screen and (max-width: 767px) {
		input, input.small, input.medium,  input.large,  input.oversize, input.input-text, input.input-text.oversize, textarea,
		form#commentform  input, form#commentform  input.oversize, form#commentform input.input-text, form#commentform input.input-text.oversize, form#commentform textarea { width: 100%; padding: 6px 4px 4px; font-size: 18px; }
		form#commentform  input, form#commentform input.input-text {width: 40%;}
		form#commentform  input, form#commentform  input.oversize, form#commentform input.input-text, form#commentform input.input-text.oversize, form#commentform textarea { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
		form#commentform .error small, form#commentform small.error { padding: 6px 2%; display: block; }
		form#commentform .error .small + small, form#commentform .small + .error { width: auto; }
		form#commentform .error .medium + small, form#commentform .medium + .error { width: auto; }
		form#commentform .error .large + small, form#commentform .large + .error { width: auto; }
	}
	
	
/* -------------------------------------------------- 
	:: UI
---------------------------------------------------*/	
	
	/* Buttons */
	@media only screen and (max-width: 767px) {
		.button { display: block; }
		button.button { width: 162px; padding-left: 0; padding-right: 0; }
	}
	
	/* Tabs */
	
	@media only screen and (max-width: 767px) {
		dl.tabs.mobile, dl.nice.tabs.mobile { width: auto; margin: 20px -20px 40px; height: auto; }
		dl.tabs.mobile dt, dl.tabs.mobile dd, dl.nice.tabs.mobile dt, dl.nice.tabs.mobile dd { float: none; height: auto; }

		dl.tabs.mobile dd a { display: block; width: auto; height: auto; padding: 18px 20px; line-height: 1; border: solid 0 #ccc; border-width: 1px 0 0; margin: 0; color: #555; background: #eee; font-size: 15px; font-size: 1.5rem; }
		dl.tabs.mobile dd a.active { height: auto; margin: 0; border-width: 1px 0 0; }
	
		.nice.tabs.mobile { border-bottom: solid 1px #ccc; height: auto; }
		.nice.tabs.mobile dd a { padding: 18px 20px; border: none; border-left: none; border-right: none; border-top: 1px solid #ccc; background: #fff; }
		.nice.tabs.mobile dd a.active { border: none; background: #00a6fc; color: #fff; margin: 0; position: static; top: 0; height: auto; }
		.nice.tabs.mobile dd:first-child a.active { margin: 0; }
		
		dl.contained.mobile, dl.nice.contained.mobile { margin-bottom: 0; }
		dl.contained.tabs.mobile dd a { padding: 18px 20px; }
		dl.nice.contained.tabs.mobile dd a { padding: 18px 20px; }
	}
	
	/* Nav Bar */

	@media only screen and (max-width: 960px) {

		

	}
	
/* -------------------------------------------------- 
	:: Blog Structure
---------------------------------------------------*/

	#content, aside { margin-top:25px; margin-bottom: 25px; margin-left:0;}
	article {margin-bottom:40px;}
	article .entry-content { border-bottom:1px solid #D5D5D5; display:block; margin-top: 20px;}
	.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {margin-bottom:15px; margin-top:20px;}
	article ul {list-style: inside disc; margin-left: 15px;}
	
	#comment-section #comments-list, #comment-section #respond {margin-bottom:20px; float:left; width:100%; }
	#comment-section #respond {margin-bottom: 0; position: relative;}
	#comment-section #comments-list .comment-content p {font-size: 13px; font-size:1.3rem;}
	#comment-section #comments-list ol {list-style: none; margin:5px 0 0 0; float: left; width: 100%}
	#comment-section #comments-list ol li {padding: 15px; background: #F5F5F5; border: 1px solid #D5D5D5; border-radius: 2px; margin-bottom: 15px;}
	#comment-section #comments-list ol li ul.children {margin-top:15px; margin-bottom: 0;}
	#comment-section #comments-list ol li ul.children li {margin-bottom: 10px;}
	
	#comment-section #comments-list .vcard {margin-bottom:15px;}
	#comment-section #comments-list .vcard .avatar {float:left; margin-right:12px; padding:3px; background: #FFFFFF; border:1px solid #D5D5D5;}
	#comment-section #comments-list .vcard .fn {font-size: 14px; font-weight: bold;}
	#comment-section #comments-list .vcard .comment-meta {font-size: 10px;}
	
	aside h2 {margin-bottom: 15px;}
	aside h4 {border-bottom: 1px dotted #D5D5D5; font-size: 16px; font-weight: normal; margin-bottom: 15px; padding: 0 0 4px;}
	aside > ul > li {margin-bottom: 30px;}
	aside > ul > li:last-child, aside > ul > li li:last-child {margin-bottom: 0;}
	aside > ul ul {margin-bottom: 0;}
	
/* -------------------------------------------------- 
	:: Shortcodes
---------------------------------------------------*/

	.dropcap {font-size:300%; float:left; line-height:1em; margin: 0 8px 0 0;}
	
/* -----------------------------------------
	:: Basic WordPress Outputs
----------------------------------------- */
	
	/* Resizing the Blog Post */
	article p { line-height: 1.68; font-size: 12px; font-size: 1.2rem; clear: both;}
	article h1 { font-weight: normal; font-size: 20px; font-size: 2rem; line-height: 1.4; }
	article h2 { font-weight: normal; font-size: 18px; font-size: 1.8rem; line-height: 1.4; }
	article h3 { font-weight: normal; font-size: 16px;	font-size: 1.6rem; }
	
	article h2, article h3, article h4, article h5, article h6 {margin-top: 20px; margin-bottom: 5px; float: left; width: 100%;}
	
	article .postmeta-timeauthor, article .postmeta-cats, article .postmeta-tags { display: inline-block; font-size: 11px; font-size: 1.1rem; margin: 0 5px 0 0; color: #999999; padding: 0;}
	article .postmeta-cats, article .postmeta-tags {margin-left: 5px;}
	/* Add Divider for Listed Posts */
	.divider { background:#DFDFDF; height:1px; margin:20px 0 27px; }	
	
	/* Add Align Class for Images */
	img.alignright { float: right; margin: 0 0 18px 18px; }
	img.alignleft { float: left; margin: 0 18px 18px 0; }
	img.aligncenter { display: block; margin: 18px auto; }
	
	/* Add HTML5 Caption Class for Images */
	figure.figure {	background: #EEE; margin: 0 0 18px;	-webkit-border-radius: 3px;	-moz-border-radius: 3px; display: inline-block; }
	figure.figure figcaption { padding: 8px 10px; font-size: 13px; font-size: 1.3rem; line-height: 18px; color: #555; }
	figure.alignright.figure { float: right; margin: 0 0 18px 18px; }
	figure.alignleft.figure { float: left; margin: 0 18px 18px 0; }
	
	/* Sidebar Adjustment */
	.sidebar-section { padding-bottom: 10px; padding-top: 20px;	font-size: 13px; font-size: 1.3rem; font-weight: normal; }
	
	/* Footer Nav */
	.footer-section { padding-bottom: 10px; padding-top: 20px; font-size: 13px; font-size: 1.3rem; font-weight: normal; }
	.footer-nav li { display: block; float: right; padding-left: 3%; margin-bottom: 0; }
	
	/* Breadcrumb Adjustment */
	ul.breadcrumbs li span { padding-left: 12px; }
	ul.breadcrumbs li a { padding-left: 0; }
	
	/*Default Widgets*/
	
	/*--WP Calendar--*/
	#wp-calendar caption {margin-bottom:5px;}
	
	/*--Search form--*/
	#searchform input#s {background: url(../images/misc/input-bg.png) repeat scroll 0 0 #FFFFFF; border: 1px solid #BBBBBB;
    border-radius: 2px; font-size: 13px; outline: medium none !important; padding: 6px 3px 4px; margin-left: 5px;}
	
	/*--Nav menu widget--*/
	.widget_nav_menu ul {background:none;}
	.widget_nav_menu ul, .widget_nav_menu ul.sub-menu{border-bottom:none;}
	.widget_nav_menu ul>li {margin:0; position:relative;}
	.widget_nav_menu ul>li>a {color: #9bb08f; display:block; padding: 8px 10px;}
	.widget_nav_menu ul>li:hover>a {color: #FFFFFF;}
	
	.widget_nav_menu ul>li.has-flyout>ul.sub-menu {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #D5D5D5; display: none; left: -170px;
    margin: 0; min-width: 170px; position: absolute; top: -1px; border-bottom:none;}
	.widget_nav_menu ul>li.has-flyout>a:after {border-left: 4px solid #555555; border-right: 4px solid transparent; border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; bottom: 14px; content: ""; display: block; height: 0; position: absolute; right: 8px; width: 0;}
	
	.widget_nav_menu ul>li.has-flyout>ul.sub-menu>li:hover>a {background:#F5F5F5;}
	
	.widget_nav_menu ul>li.current-menu-item>a {color: #FFFFFF;}
	.widget_nav_menu ul>li.current-menu-item>a:after { border-left-color: #222222; }
	.widget_nav_menu ul>li li.current-menu-item>a {color: #FFFFFF;}
	.widget_nav_menu ul>li li.current-menu-item>a:after { border-left-color: #222222; }
	
	.widget_nav_menu ul>li.current-menu-ancestor>a {background: #FFFFFF; color: #222222;}
	.widget_nav_menu ul>li.current-menu-ancestor>a:after {border-left-color: #222222;}
	.widget_nav_menu ul>li li.current-menu-ancestor>a {background: #F5F5F5; color: #222222;}
	.widget_nav_menu ul>li li.current-menu-ancestor>a:after { border-left-color: #222222; }
	
/*  -------------------------------------------------------
    Style Pagination for WP-Pagenavi
    ---------------------------------------------------- */ 
    
    div.wp-pagenavi { display: block; height: 24px; margin-left: -5px; color: #555; }
    div.wp-pagenavi a, div.wp-pagenavi span { float: left; display: block; padding: 6px 7px 4px; height: 24px; color: #555; font-size: 15px; margin-left: 5px; }
    div.wp-pagenavi span.pages { padding-left: 0; }
    div.wp-pagenavi .current, div.wp-pagenavi a:hover { border-bottom: solid 2px #00a6fc; color: #141414; }
    div.wp-pagenavi span.unavailable:hover { border-bottom: none; }

