#title
{
	color: darkblue;
}

#author
{
	font-weight:500;
	margin-top: -1%;
}

figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}


figcaption {

		font-style: italic;
}

footer
{
	background: lightgrey;
}

#footer-1
{
	font-size:20px;
}

#footer-2
{
	margin-top: -1%;
}
