#title
{
	color: darkblue;
}

#author
{
	font-weight:500;
	margin-top: -1%;
}

figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}


figcaption {

		font-style: italic;
}

footer
{
	background: lightgrey;
}

#footer-1
{
	font-size:20px;
}

#footer-2
{
	margin-top: -1%;
}



.btn
{
	border: 1px solid darkblue;
	border-radius: 5px;
	padding: 10px;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	display: inline-block;
	color: darkblue;
}

.btn:hover
{
	background: darkblue;
	color: white;
	cursor: pointer;
}

#btn-1
{
	margin-left: 3%;
}
