<!-- Booking Page -->
<div class="booking-shadow" style="display:none">
    <img src="images/cancel.svg" class="booking-cancel" ng-click="exit_booking()" />
    <img src="images/logo-trans.png" class="booking-img"  />
    <p class="booking-title text-center">BOOK AN APPOINTMENT</p>
    <input class="booking-input booking-name" type="text" placeholder="name" name="name"  />
    <input class="booking-input booking-email" type="text" placeholder="email" name="email"  />
    <textarea class="booking-input booking-description" rows="1" type="text" placeholder="booking description" name="description" ></textarea>
    <div class="booking-button text-center" type="button" ng-click="submit_booking()">BOOK</div>
</div>


<!-- Welcoming/Landing Page -->
<div class="text-center welcome-area body" >
    <div class="container-fluid">
        
        <!-- Vimeo video example 
        <video autoplay loop id="video-background" muted plays-inline>
          <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
        </video>
        -->
        

        <div class="video-background">
            <div class="video-foreground">
              <iframe src="https://www.youtube.com/embed/RIUbTC-qmRk?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=RIUbTC-qmRk" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>




        

        <div class="row nav-bar">
            <div class="col-xs-0 d-xs-none d-md-block col-md-1"></div>
            <div class="col-xs-12 col-md-10">
                <div class="nav-tab-con nav-tab-con-book" ng-click="enter_booking()">
                    <img class="nav-tab nav-booking-tab" src="images/booking.svg" />
                    <p class="nav-booking-text nav-text txt_booking">{{txt_booking}}</p>
                </div>
                <div class="nav-tab-con nav-tab-con-eng" ng-click="lang='eng';onLangChange();" >
                    <img class="nav-tab nav-english-tab" src="images/lang.svg" />
                    <p class="nav-english-text nav-text">ENGLISH</p>
                </div>
                <div class="nav-tab-con nav-tab-con-ch" ng-click="lang='ch';onLangChange();" >
                    <img class="nav-tab nav-chinese-tab" src="images/lang.svg" />
                    <p class="nav-chinese-text nav-text">中文</p>
                </div>
                <div class="nav-tab-con nav-tab-con-kor" ng-click="lang='kor';onLangChange();" >
                    <img class="nav-tab nav-korean-tab" src="images/lang.svg" />
                    <p class="nav-korean-text nav-text">한국어</p>
                </div>
            </div>

            <div class="col-xs-0 d-xs-none d-md-block col-md-1"></div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <image class="welcome-logo" src="images/logo.png" alt="Company Logo" />
            </div>
        </div>

        <div class="lds-ripple"><div></div><div></div></div>


        <div class="row" class="welcome-text-con" >
            <div class="col-xs-3 col-md-4"></div>
            <div class="col-xs-6 col-md-4">
                <p class="welcome-text text-transition" style="opacity: 0.0">{{txt_welcome_message}}</p>
            </div>
            <div class="col-xs-3 col-md-4"></div>
        </div>
            <div class="row">
                <div class="col-xs-12"  >
                    <p class="welcome-discover text-transition" style="opacity: 0.0">{{txt_discover}}</p>
                </div>
            </div>
        <div class="row">
            <div class="col-xs-12"  >
                 <span  style="opacity: 0.0" class="glyphicon glyphicon-menu-down glyphicon-home-more"></span>
            </div>
        </div>

    </div>
</div>


<!-- Home Page -->
<div class="container-fluid p-0">
<div class="row">
    <div class="col-xs-12">
        <div class="row home-area" style="">
            <div class="col-xs-4 col-md-3" style="margin-left: -2%">

                    <div class="row">
                        <div class="col-xs-12">
                            <image class="home-logo" src="images/logo.png" alt="Company Logo" />

                        </div>
                    </div>
                
                    <div class="row link-gallery" >
                        <div class="col-xs-3 home-category-con-0-left"></div>
                        <div class="col-xs-6 text-center home-category-con-0 home-category-con " style="margin-top: 23%;margin-left:0%;">
                            <div class="home-category-shadow-0"></div>
                            <p class="home-category" >{{cat_1}}</p>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>


                    <div class="row " >
                        <div class="col-xs-3 home-category-con-1-left"></div>
                        <div class="col-xs-6 text-center home-category-con-1 home-category-con" style="margin-top: 0%;margin-left:0%;">
                            <div class="home-category-shadow-1"></div>
                            <p class="home-category" >{{cat_2}}</p>

                        </div>
                        <div class="col-xs-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <p class="home-category-links home-category-links-1">Foot Reflexology</p>
                            <p class="home-category-links home-category-links-1 home-c-1">Body Scrub</p>
                            <p class="home-category-links home-category-links-1 home-c-1">Aroma Oil Bath</p>
                            <p class="home-category-links home-category-links-1 home-c-1 link-guasha">Gua Sha</p>
                        </div>
                        <div class="col-xs-3"></div>

                    </div>

                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6 text-center home-category-con-2 home-category-con ">
                            <div class="home-category-shadow-2"></div>
                            <p class="home-category">{{cat_3}}</p>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <p class="home-category-links home-category-links-2">Foot Reflexology</p>
                            <p class="home-category-links home-category-links-2 home-c-2">Body Scrub</p>
                            <p class="home-category-links home-category-links-2 home-c-2">Aroma Oil Bath</p>
                            <p class="home-category-links home-category-links-2 home-c-2">Gua Sha</p>
                        </div>
                        <div class="col-xs-3"></div>

                    </div>


                    <div class="row">
                        <div class="col-xs-3 "></div>
                        <div class="col-xs-6 text-center home-category-con-3 home-category-con">
                            <div class="home-category-shadow-3"></div>
                            <p class="home-category">{{cat_4}}</p>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>


                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <p class="home-category-links home-category-links-3">Foot Reflexology</p>
                            <p class="home-category-links home-category-links-3 home-c-3">Body Scrub</p>
                            <p class="home-category-links home-category-links-3 home-c-3">Aroma Oil Bath</p>
                            <p class="home-category-links home-category-links-3 home-c-3">Gua Sha</p>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>


                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6 text-center home-contact-button-con">
                            <div ng-click="enter_booking()" class="home-contact-button">{{txt_contact}}</div>
                        </div>
                        <div class="col-xs-3"></div>
                    </div>
            </div>


            <!-- temporary usage of 1 missing column -->
            <div class="col-xs-8 col-md-9 section-gallery" style="margin-top:4%;margin-left: 0%;margin-right:0%;">
                
<!--
                
                <div class="row">
                    <div class="col-xs-4">
                        <img class="home-grid-view" src="images/1.jpg" />
                    </div>
                    <div class="col-xs-4">
                        <img class="home-grid-view home-grid-view-2" src="images/2.jpg" />
                    </div>
                    <div class="col-xs-4">
                        <img class="home-grid-view home-grid-view-3" src="images/3.jpg" />
                    </div>
                </div>



                <div class="row home-grid-view-rest">
                    <div class="col-xs-4">
                        <img class="home-grid-view" src="images/4.jpg" />
                    </div>
                    <div class="col-xs-4">
                        <img class="home-grid-view home-grid-view-2" src="images/5.jpg" />
                    </div>
                    <div class="col-xs-4">
                        <img class="home-grid-view home-grid-view-3" src="images/6.jpg" />
                    </div>
                </div>


                <div class="row home-grid-view-rest">
                    <div class="col-xs-4">
                        <img class="home-grid-view " src="images/7.jpg" />
                    </div>
                    <div class="col-xs-4">
                        <img class="home-grid-view home-grid-view-2 " src="images/8.jpg" />
                    </div>
                    <div class="col-xs-4">
                        <img class="home-grid-view home-grid-view-3" src="images/9.jpg" />
                    </div>
                </div>
-->


                <div class="row ">
                    <div class="col-xs-7 home-grid-view-y" style="background-image: url(images/6.jpg); background-size: cover">
<!--                        <img class="home-grid-view-x" src="images/4.jpg" style="background-image: url(images/4.jpg)" />-->
                    </div>
                    <div class="col-xs-5" style="padding-left:5px;padding-right:5px">
                        <div class="home-grid-view-y" style="width:100%;background-image: url(images/1.jpg); background-size: cover">
                        
                        </div>
                    </div>
                </div>
                
                <div class="row" style="margin-top:5px;">
                    <div class="col-xs-6 home-grid-view-x" style="background-image: url(images/2.jpg); background-size: cover">
<!--                        <img class="home-grid-view-x" src="images/4.jpg" style="background-image: url(images/4.jpg)" />-->
                    </div>
                    <div class="col-xs-6" style="padding-left:5px;padding-right:5px">
                        <div class="home-grid-view-x" style="width:100%;background-image: url(images/4.jpg); background-size: cover">
                        
                        </div>
                    </div>
                </div>
                
                <div class="row" style="margin-top:5px;">
                    <div class="col-xs-7 home-grid-view-y" style="background-image: url(images/3.jpg); background-size: cover">
<!--                        <img class="home-grid-view-x" src="images/4.jpg" style="background-image: url(images/4.jpg)" />-->
                    </div>
                    <div class="col-xs-5" style="padding-left:5px;padding-right:5px" >
                        <div class="home-grid-view-y" style="width:100%;background-image: url(images/5.jpg); background-size: cover">
                        
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-xs-9 section-guasha" style="display:none">

                <div class="row">
                    <div class="col-xs-12">

                        <img class="art-img-guasha" src="images/guasha-x.jpg" alt="Gua Sha"/>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>